{% extends "site/base.html" %}

{% set active_page = 'map' %}

{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    async function callback() {
        document.getElementById('submitButton').classList.add('is-loading');
        let from_date = document.getElementById('from_date').value;
        let to_date = document.getElementById('to_date').value;
        let show_visits = document.getElementById('show_visits').checked;
        let remove_idle = document.getElementById('remove_idle').checked;
        let trips_color = document.getElementById('trips_color').checked;
        let response = await fetch("/callback/path_map?from_date=" + from_date + "&to_date=" + to_date + "&show_visits=" + show_visits + "&remove_idle=" + remove_idle + "&trips_color=" + trips_color);
        if (response.ok) {
            let chartJson = await response.json();
            Plotly.setPlotConfig({responsive: true, displayModeBar: false})
            Plotly.newPlot('chart', chartJson, {});
            document.getElementById('submitButton').classList.remove('is-loading');
        } else {
            alert("HTTP-Error: " + response.status + " on visits_map");
        }
    }
</script>
<script type="text/javascript">
    function from_date_changed(from_date) {
        document.getElementById('to_date').min = from_date;
    }
</script>
<script type="text/javascript">
    function to_date_changed(to_date) {
        document.getElementById('from_date').max = to_date;
        if (to_date<document.getElementById('from_date').value) {
            document.getElementById('from_date').value = to_date
        }
    }
</script>
<script type="text/javascript">
    async function quickPeriod() {
        var seleccion = document.getElementById('quickPeriods').selectedIndex;
        switch (seleccion) {
            case 1:
                // Today
                var fromDate = new Date().toISOString().split('T')[0] + 'T00:00';
                var toDate = new Date().toISOString().split('T')[0] + 'T23:59';
                document.getElementById('from_date').value = fromDate;
                document.getElementById('to_date').value = toDate;
                break;
            case 2:
                // Yesterday
                var fromDate = new Date(new Date().setDate(new Date().getDate()-1)).toISOString().split('T')[0] + 'T00:00';
                var toDate = new Date(new Date().setDate(new Date().getDate()-1)).toISOString().split('T')[0] + 'T23:59';
                document.getElementById('from_date').value = fromDate;
                document.getElementById('to_date').value = toDate;
                break;
            case 3:
                // This week
                d = new Date();
                var day = d.getDay(),
                    diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
                var fromDate = new Date(d.setDate(diff)).toISOString().split('T')[0] + 'T00:00';
                var toDate = new Date().toISOString().split('T')[0] + 'T23:59';
                document.getElementById('from_date').value = fromDate;
                document.getElementById('to_date').value = toDate;
                break;
            case 4:
                // This month
                var d = new Date();
                var fromDate = new Date(Date.UTC(d.getFullYear(), d.getMonth(), 1)).toISOString().split('T')[0] + 'T00:00';
                var toDate = new Date().toISOString().split('T')[0] + 'T23:59';
                document.getElementById('from_date').value = fromDate;
                document.getElementById('to_date').value = toDate;
                break;
            case 5:
                // This year
                var d = new Date();
                var fromDate = new Date(Date.UTC(d.getFullYear(), 0, 1)).toISOString().split('T')[0] + 'T00:00';
                var toDate = new Date().toISOString().split('T')[0] + 'T23:59';
                document.getElementById('from_date').value = fromDate;
                document.getElementById('to_date').value = toDate;
                break;
            default:
                // code block
                console.log('Meh')

        }
    }
</script>
{% endblock %}

{% block content %}
<div class="block fullscreen-plot">
    <div id="chart" class="chart full-height"></div>
</div>
<div class="dropdown is-up bottom-left">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu7">
        <span>Date selector</span>
        <span class="icon is-small">
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu7" role="menu">
        <div class="dropdown-content">
        <div class="dropdown-item">
            From Date
            <input id="from_date" type="datetime-local" value="{{ date_i }}" min="{{ date_min }}" max="{{ date_max }}" onchange="from_date_changed(this.value)">
        </div>
        <div class="dropdown-item">
            To Date
            <input id="to_date" type="datetime-local" value="{{ date_f }}" min="{{ date_min }}" max="{{ date_max }}" onchange="to_date_changed(this.value)">
        </div>
        <div class="dropdown-item">
            <div class="select">
                <select id="quickPeriods" onChange="quickPeriod()">
                    <option>Quick periods...</option>
                    <option>Today</option>
                    <option>Yesterday</option>
                    <option>This week</option>
                    <option>This Month</option>
                    <option>YTD</option>
                </select>
            </div>
        </div>
        <div class="dropdown-item">
            Show stops
            <input id="show_visits" type="checkbox" {% if current_user.defaultShowVisits %}checked{% endif %}>
        </div>
        <div class="dropdown-item">
            Remove idle points
            <input id="remove_idle" type="checkbox" {% if current_user.defaultRemoveIdle %}checked{% endif %}>
        </div>
        <div class="dropdown-item">
            Trips by color
            <input id="trips_color" type="checkbox" {% if current_user.defaultTripColor %}checked{% endif %}>
        </div>
        <div class="dropdown-item">
            <button class="button is-link" id="submitButton" onclick="callback()">Submit</button>
        </div>
    
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>callback();</script>
{% endblock scripts %}
