{% extends "site/base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    async function callback() {
        let from_date = document.getElementById('from_date').value;
        let to_date = document.getElementById('to_date').value;
        let ignore_home = document.getElementById('ignore_home').checked;
        let response = await fetch("/callback/visits_map?from_date=" + from_date + "&to_date=" + to_date + "&ignore_home=" + ignore_home);
        if (response.ok) {
            let chartJson = await response.json();
            Plotly.newPlot('chart', chartJson, {});
        } else {
            alert("HTTP-Error: " + response.status + " on visits_map");
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="block">
    <div class="columns">
        <div class="column">
            From Date
            <input id="from_date" type="datetime-local" data-display-mode="dialog" data-close-on-select="false">
        </div>
        <div class="column">
            To Date
            <input id="to_date" type="datetime-local" data-display-mode="inline" data-is-range="true" data-close-on-select="false">
        </div>
        <div class="column is-one-fifth">
            Ignore home
            <input id="ignore_home" type="checkbox">
        </div>
        <div class="column is-one-fifth">
            <button class="button is-link" onclick="callback()">Submit</button>
        </div>
    </div>
</div>

<div class="block">
    <div id="chart" class="chart"></div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

<script>callback();</script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});        
</script>
{% endblock scripts %}