# VSCode
.vscode

.env

# ---------------------------------------------------------------------------- #
#                                    BACKEND                                   #
# ---------------------------------------------------------------------------- #

# devcontainer data
postgresdata


# ---------------------------------------------------------------------------- #
#                                   FRONTEND                                   #
# ---------------------------------------------------------------------------- #

node_modules

# ---------------------------------------------------------------------------- #
#                                     NGINX                                    #
# ---------------------------------------------------------------------------- #