# VSCode
.vscode

# ---------------------------------------------------------------------------- #
#                                    BACKEND                                   #
# ---------------------------------------------------------------------------- #

# devcontainer data
postgresdata


# ---------------------------------------------------------------------------- #
#                                   FRONTEND                                   #
# ---------------------------------------------------------------------------- #


# ---------------------------------------------------------------------------- #
#                                     NGINX                                    #
# ---------------------------------------------------------------------------- #