[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-timescaledb = "*"
django-cors-headers = "*"
djangorestframework = "*"
drf-spectacular = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.11"
